In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('crop_csv_file.xlsx')

In [3]:
data.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Temperature,humidity,soil moisture,area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,36,35,45,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,37,40,46,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,36,41,50,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,37,42,55,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,36,40,54,720.0,165.0

In [4]:
data.head()
data = data[:10000]

In [5]:
data.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Temperature,humidity,soil moisture,area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,36,35,45,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,37,40,46,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,36,41,50,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,37,42,55,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,36,40,54,720.0,165.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
State_Name       10000 non-null object
District_Name    10000 non-null object
Crop_Year        10000 non-null int64
Season           10000 non-null object
Crop             10000 non-null object
Temperature      10000 non-null int64
humidity         10000 non-null int64
soil moisture    10000 non-null int64
 area            10000 non-null float64
Production       9931 non-null float64
dtypes: float64(2), int64(4), object(4)
memory usage: 625.0+ KB

In [7]:
#handling missing data
data = data.dropna()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9931 entries, 0 to 9999
Data columns (total 10 columns):
State_Name       9931 non-null object
District_Name    9931 non-null object
Crop_Year        9931 non-null int64
Season           9931 non-null object
Crop             9931 non-null object
Temperature      9931 non-null int64
humidity         9931 non-null int64
soil moisture    9931 non-null int64
 area            9931 non-null float64
Production       9931 non-null float64
dtypes: float64(2), int64(4), object(4)
memory usage: 698.3+ KB

In [8]:
data.describe()

,Crop_Year,Temperature,humidity,soil moisture,area,Production
count,9931.000000,9931.000000,9931.000000,9931.000000,9931.000000,9.931000e+03
mean,2006.076025,34.445675,44.773034,53.108146,13299.452361,1.816847e+06
std,5.153237,3.499294,6.662943,5.259584,46476.817881,2.748270e+07
min,1997.000000,25.000000,35.000000,45.000000,0.200000,0.000000e+00
25%,2002.000000,34.000000,40.000000,50.000000,160.000000,2.045000e+02
50%,2006.000000,36.000000,42.000000,54.000000,1071.000000,1.776000e+03
75%,2011.000000,36.000000,50.000000,55.000000,6265.500000,1.321650e+04
max,2014.000000,37.000000,55.000000,62.000000,877029.000000,7.801620e+08

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

State_Name = le.fit_transform(data.State_Name)
District_Name = le.fit_transform(data.District_Name)
Crop_Year = le.fit_transform(data.Crop_Year)
crop = le.fit_transform(data.Crop)
Season = le.fit_transform(data.Season)
data['State_Name'] = State_Name
data['District_Name'] = District_Name
data['Crop_Year'] = Crop_Year
data['Crop'] = crop
data['Season']  = Season

In [10]:
data.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Temperature,humidity,soil moisture,area,Production
0,0,9,3,1,0,36,35,45,1254.0,2000.0
1,0,9,3,1,41,37,40,46,2.0,1.0
2,0,9,3,1,51,36,41,50,102.0,321.0
3,0,9,3,3,3,37,42,55,176.0,641.0
4,0,9,3,3,10,36,40,54,720.0,165.0

In [11]:
from sklearn.model_selection import train_test_split
#from sklearn.cross_validation import train_test_split

In [12]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [13]:
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.2,random_state=100)

In [14]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import roc_auc_score , classification_report, mean_squared_error, r2_score
forest = RandomForestRegressor(n_estimators=1000, 
                               criterion='mse', 
                               random_state=1, 
                               n_jobs=-1)
forest.fit(X_train, Y_train)
y_train_pred = forest.predict(X_train)
y_test_pred = forest.predict(X_test)

print('MSE train: %.3f, test: %.3f' % (
        mean_squared_error(Y_train, y_train_pred),
        mean_squared_error(Y_test, y_test_pred)))
print('R^2 train: %.3f, test: %.3f' % (
        r2_score(Y_train, y_train_pred),
        r2_score(Y_test, y_test_pred)))

MSE train: 7016771753539.088, test: 43389714937956.969
R^2 train: 0.990, test: 0.958

In [15]:
print(forest.score(X_test,Y_test))

0.958038456373824

In [16]:
forest.predict(X_test)

array([6.38773532e+05, 2.97218286e+05, 8.57817800e+03, ...,
       8.05914000e+01, 1.12810058e+05, 7.70628300e+03])

In [17]:
X_test

,State_Name,District_Name,Crop_Year,Season,Crop,Temperature,humidity,soil moisture,area
6880,1,13,15,1,58,36,40,54,9896.00
9780,1,17,16,2,30,34,55,62,50712.00
6584,1,13,6,3,40,34,45,52,1660.00
2073,1,4,7,1,2,37,42,55,1840.00
123,0,10,13,2,60,34,55,62,109.00
9443,1,17,6,1,65,36,41,50,983.00
4680,1,7,17,2,34,36,35,45,15572.00
393,1,0,5,1,41,34,55,62,490.00
6454,1,13,4,1,24,37,40,46,2616.00
1857,1,4,2,2,50,37,42,55,3.00
690,1,0,12,2,22,34,55,62,92936.00
9422,1,17,5,3,40,25,55,55,644.00
4139,1,7,3,1,65,25,55,55,4526.00
586,1,0,9,1,37,37,40,46,869.00
50,0,9,8,3,13,34,45,52,13876.57
6370,1,13,1,2,30,35,50,59,100.00
3418,1,6,5,1,11,35,50,59,1013.00
7767,1,15,2,1,32,36,35,45,6237.00
3544,1,6,7,2,1,35,50,59,44.00
7706,1,15,0,1,27,36,41,50,300.00
5670,1,11,4,1,27,36,35,45,1266.00
4132,1,7,3,1,26,37,40,46,2.00
6777,1,13,12,2,30,36,35,45,647.00
4177,1,7,4,2,1,37,40,46,80.00
5869,1,11,7,3,58,37,40,46,144.00
63,0,9,9,3,64,36,35,45,2.50
8473,1,15,17,1,47,36,40,54,24.00
7168,1,14,4,3,64,36,40,54,235.00
2762,1,5,6,1,26,25,55,55,9610.00
3702,1,6,11,2,51,37,42,55,14883.00
...,...,...,...,...,...,...,...,...,...
6797,1,13,13,1,34,36,41,50,1913.00
25,0,9,5,3,19,35,50,59,47.30
9794,1,17,17,1,10,36,41,50,17678.00
4049,1,6,17,2,60,25,55,55,51.00
420,1,0,5,3,8,34,55,62,1026.00
1,0,9,3,1,41,37,40,46,2.00
3970,1,6,16,2,37,37,40,46,926.00
77,0,9,13,3,13,34,45,52,14560.00
824,1,0,15,1,58,34,45,52,76.00
1862,1,4,2,3,18,25,55,55,1825.00
4313,1,7,7,1,30,36,41,50,7788.00
9256,1,17,0,1,30,36,40,54,800.00
3632,1,6,9,2,24,34,45,52,16080.00
6829,1,13,14,1,24,35,50,59,7141.00
3894,1,6,15,2,18,34,55,62,16.00
603,1,0,9,2,51,36,35,45,10846.00
2631,1,5,3,1,26,37,42,55,181.00
7419,1,14,11,1,51,37,42,55,203172.00
1275,1,3,6,3,45,34,55,62,69.00
3975,1,6,16,2,56,34,55,62,161.00
117,0,10,13,2,18,36,35,45,254.00
958,1,0,17,1,59,36,40,54,5066.00
9818,1,17,17,2,24,25,55,55,2025.00
6633,1,13,8,1,2,36,35,45,836.00
5252,1,8,13,1,30,34,45,52,14588.00
3903,1,6,15,2,39,34,55,62,28.00
7686,1,14,17,2,24,36,35,45,4852.00
5839,1,11,7,1,35,35,50,59,126.00
2068,1,4,6,3,61,35,50,59,18768.00
2746,1,5,5,3,40,37,40,46,1359.00

In [18]:
forest.predict([[1,5,5,3,40,37,40,46,1359.0]])

array([7706.283])

In [ ]:
state = input('enter state:')
district = input('enter district:')
year = input('enter year:')
season = input('enter season:')
crop = input('enter crop:')
Temperature = input('enter Temperature')
humidity= input('enter humidity')
soilmoisture= input('enter soilmoisture')
area = input('enter area:13')

out_1 = forest.predict([[float(state),
       float(district),
       float(year),
       float(season),
       float(crop),
       float(Temperature),
       float(humidity),
       float(soilmoisture),
       float(area)]])
print(out_1)
print('crop yield Production:',out_1)

# Fertilizer prediction

In [ ]:
data_1 = pd.read_csv('ferlizer.csv')

In [ ]:
data_1

In [ ]:
n = data_1.iloc[:,0:1]
p = data_1.iloc[:,1:2]
k = data_1.iloc[:,2:3]
amt_n = data_1.iloc[:,3:4]
amt_p = data_1.iloc[:,4:5]
amt_k = data_1.iloc[:,5:6]

In [ ]:
X_n_train , X_n_test , y_n_train , y_n_test = train_test_split(n,amt_n,test_size=0.2,random_state=100)

In [ ]:
X_p_train , X_p_test , y_p_train , y_p_test = train_test_split(p,amt_p,test_size=0.2,random_state=100)

In [ ]:
X_k_train , X_k_test , y_k_train , y_k_test = train_test_split(k,amt_k,test_size=0.2,random_state=100)

In [ ]:
from sklearn.neural_network import MLPRegressor
clf_n = MLPRegressor(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)
clf_n.fit(X_n_train, y_n_train)
y_n_pred = clf_n.predict(y_n_test)
clf_n.score(y_n_test,y_n_pred)

In [ ]:
clf_p = MLPRegressor(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)
clf_p.fit(X_p_train, y_p_train)
y_p_pred = clf_n.predict(y_p_test)
clf_p.score(y_p_test,y_p_pred)

In [ ]:
clf_k = MLPRegressor(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)
clf_k.fit(X_p_train, y_k_train)
y_k_pred = clf_n.predict(y_k_test)
clf_k.score(y_k_test,y_k_pred)

In [ ]:
n_i = float(input('enter nitrogen:'))
p_i = float(input('enter posporus:'))
k_i = float(input('enter pottasium:'))
p_n = clf_n.predict([[n_i]])
p_p = clf_p.predict([[p_i]])
p_k = clf_k.predict([[k_i]])
print('Amount of nitrogen Fertizer:',p_n)
print('Amount of posporus Fertizer:',p_p)
print('Amount of nitrogen Fertizer:',p_k)

# GUI

In [19]:
from tkinter import *
from tkinter import ttk

root = Tk()
root.title('Crop Yield and fertilizer Prediction System')
root.geometry('850x650')
root.configure(background="purple2")
var = StringVar()
label = Label( root, textvariable = var,font=('arial',20,'bold'),bd=20,background="purple2")
var.set('Crop Yield and fertilizer Prediction System')
label.grid(row=0,columnspan=6)



label_1 = ttk.Label(root, text ='state',font=("Helvetica", 16),background="Purple3")
label_1.grid(row=11,column=0)
    
Entry_1= Entry(root)
Entry_1.grid(row=11,column=1)

label_2 = ttk.Label(root, text ='district',font=("Helvetica", 16),background="Purple3")
label_2.grid(row=12,column=0)
    
Entry_2 = Entry(root)
Entry_2.grid(row=12,column=1)
    
    
label_3 = ttk.Label(root, text ='year',font=("Helvetica", 16),background="Purple3")
label_3.grid(row=13,column=0)
    
Entry_3 = Entry(root)
Entry_3.grid(row=13,column=1)

label_4 = ttk.Label(root, text ='season',font=("Helvetica", 16),background="Purple3")
label_4.grid(row=14,column=0)
    
Entry_4= Entry(root)
Entry_4.grid(row=14,column=1)

label_5 = ttk.Label(root, text ='crop',font=("Helvetica", 16),background="Purple3")
label_5.grid(row=15,column=0)
    
Entry_6 = Entry(root)
Entry_6.grid(row=15,column=1)
    
    
label_6 = ttk.Label(root, text ='Temperature',font=("Helvetica", 16),background="Purple3")
label_6.grid(row=16,column=0)
    
Entry_6 = Entry(root)
Entry_6.grid(row=16,column=1)

label_7 = ttk.Label(root, text ='humidity',font=("Helvetica", 16),background="Purple3")
label_7.grid(row=17,column=0)
    
Entry_7= Entry(root)
Entry_7.grid(row=17,column=1)

label_8 = ttk.Label(root, text ='soilmoisture',font=("Helvetica", 16),background="Purple3")
label_8.grid(row=18,column=0)

Entry_8 = Entry(root)
Entry_8.grid(row=18,column=1)
    
    
label_9 = ttk.Label(root, text ='area',font=("Helvetica", 16),background="Purple3")
label_9.grid(row=19,column=0)
    
Entry_9 = Entry(root)
Entry_9.grid(row=19,column=1)


def predict():
    state = Entry_1.get()
    district = Entry_2.get()
    year = Entry_3.get()
    season = Entry_4.get()
    crop = Entry_5.get()
    Temperature = Entry_6.get()
    humidity = Entry_7.get()
    soilmoisture = Entry_8.get()
    area = Entry_9.get()
    out = forest.predict([[float(state),
       float(district),
       float(year),
       float(season),
       float(crop),
       float(Temperature),
       float(humidity),
       float(soilmoisture),
       float(area)]])
    
    output.delete(0,END)
    output.insert(0,out)
   
        

b1 = Button(root, text = 'predict',font=("Helvetica", 16),background="Purple3",command = predict)
b1.grid(row=14,column=0)
    

output = Entry(root)
output.grid(row=20,column=1)
    
root.mainloop()